#

In [4]:
#1 .Difference Between append and insert in python
a=[1,2e3,4]
b=[15,6,7]
for i in b:
    a.append(i)
print(a)

[1, 2000.0, 4, 15, 6, 7]

In [7]:
a=[1,2,3,4]
a.insert(4,5)
print(a)

[1, 2, 3, 4, 5]

In [9]:
#2.Differentiate remove, del, and pop in python
c=[1,2,3,4]
c.remove(4)
print(c)

[1, 2, 3]

In [11]:
c.pop(1)

2

In [12]:
#3.explain the range function in python 
#range funcion in python
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
#4 .
#when we want to assign we use(=)as
a=10
b=a
print(b)

10

In [15]:
#when we want to compare we use(==)as
a=10
b=10
if(a==b):
    print("same")

same

In [23]:
#5.show to reverse a string in python using indexing.Explain with explain
s="abcd"
w=[]
for i in s:
    w.append(i)
    w.sort(reverse=True)
print(w)

['d', 'c', 'b', 'a']

In [4]:
#6.write a program to print all prime number frome 10-50
for i in range(10,51):
    for j in range(2,i):
        if(i%j)==0:
            print("it is not prime numer:",i)
            break
    else:
        print("it is a prime number",i)

it is not prime numer: 10
it is a prime number 11
it is not prime numer: 12
it is a prime number 13
it is not prime numer: 14
it is not prime numer: 15
it is not prime numer: 16
it is a prime number 17
it is not prime numer: 18
it is a prime number 19
it is not prime numer: 20
it is not prime numer: 21
it is not prime numer: 22
it is a prime number 23
it is not prime numer: 24
it is not prime numer: 25
it is not prime numer: 26
it is not prime numer: 27
it is not prime numer: 28
it is a prime number 29
it is not prime numer: 30
it is a prime number 31
it is not prime numer: 32
it is not prime numer: 33
it is not prime numer: 34
it is not prime numer: 35
it is not prime numer: 36
it is a prime number 37
it is not prime numer: 38
it is not prime numer: 39
it is not prime numer: 40
it is a prime number 41
it is not prime numer: 42
it is a prime number 43
it is not prime numer: 44
it is not prime numer: 45
it is not prime numer: 46
it is a prime number 47
it is not prime numer: 48
it is not prime numer: 49
it is not prime numer: 50

In [27]:
#7.how to print sum of the number starting frome 1 to 100
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

In [28]:
#8.what is the output, Suppose list1 is[1,3,2],what is list1*2
list1=[1,3,2]
list2=[]
for i in list1:
    i=i*2
    list2.append(i)
print(list2)

[2, 6, 4]

In [30]:
#9.can you write a program to find the averageof number in a list in python?
avg=0
count=0
a=[10,20,30,40]
for i in a:
    avg=avg+i
    count=count+1
avg=avg/count
print(avg)

25.0

In [33]:
#10.WAPto check a number is positive,negative or zero
n=int(input("enter the number:"))
if(n>0):
    print("it is positive")
elif(n==0):
    print("it is zero")
else:
    print("itb is negitive")

enter the number:12
it is positive

In [34]:
#11. WAP to check a number is divisible by 5 and 11 or not
n=int(input("enter the number:"))
if(n%5)==0:
    print("it is divisible by 5")
elif(n%11)==0:
    print("itis divisible by 11")
else:
    print("it is not divisible by 5 and 11")

enter the number:12
it is not divisible by 5 and 11

In [35]:
#12WAPto calculate profit&loss
n=int(input("enter the cost of product:"))
m=int(input("enter the selling  cost of product:"))
if(n-m)>0:
    print("it is loss")
else:
    print("it is profit")

enter the cost of product:100
enter the selling  cost of product:200
it is profit

In [10]:
#13.WAP to input the basic salary of employee & calculate its gross salary 
#basic Salary <=10000:HRA=20%,DA=80%,
#Basic Salary<=20000:HRA=25%,DA=90%
#Basic Saklary>20000:HRA=30%,DA=95%
sal=int(input("enter the salary of employee:"))
if(sal<=10000):
    sal=sal+(20*100)+(80*100)
    print("salary:",sal)
elif(sal<=20000):
    sal=sal+(25*100)+(90*100)
    print("salary:",sal)
elif(sal>20000):
    sal=sal+(30*100)+(95*100)
    print("salary:",sal)

enter the salary of employee:20000
salary: 31500

In [2]:
#14. input the electricity unit charge&calculate the total electric bill accoding to gib=ven condition.
#for first 50 units Rs.0.50/unit
#For next 100 units Rs. 0.75/unit
#For next 100 units Rs. 1.20/unit
#For unit above 250 Rs. 1.50/unit

cost=0
n=int(input("enter the unit:"))
if(n>=50):
    cost=50*0.50
    n=n-50
    if(n>=100):
        cost=100*0.75
        n=n-100
        if(n>=100):
            cost=100*1.20
            n=n-100
            if(n!=0):
                cost=n*1.50
            
print("total cost:",cost)

enter the unit:150
total cost: 75.0

In [ ]:
#15.WAP to swap 2 number without using 3rd variable in python.
a=10
b=20
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

In [6]:
#16WAP and check the leap year or not.
n=int(input("enter the year:"))
if(n%4)==0:
    print("it is a leap year")
else:
    print("it is not a leap year")

enter the year:2000
it is a leap year

In [29]:
#17. write a program to reverse a number in python?
n=str(input("enter the number:"))
m=0
while n!=0:
    digit=str(n%10)
    m=m*10+digit
    n//=10
print("reverse number is:",m)

enter the number:12

TypeError: not all arguments converted during string formatting

In [18]:
#18.write a program to find the sum of the digit of a number in python
n=str(input("enter the number:"))
sum=0
for i in n:
    sum=sum+int(i)

print(sum)

enter the number:12
3

In [25]:
#19. how to sort list of tuples.accoding to letter
#lan_listtuple=[('c#',1),("go",7),("basic",8),("python",60)]

lan_listtuple=[('c#',1),("go",7),("basic",8),("python",60)]
lan_listtuple.sort(reverse=False)
print(lan_listtuple)

[('basic', 8), ('c#', 1), ('go', 7), ('python', 60)]

In [11]:
#20.WAP for simple & compound intrest in python
p=int(input("enter principal:"))
r=int(input("enter rate of interst:"))
t=int(input("enter time span:"))
si=(p*r*t)/100
n=int(input("enter no of time interest got compounded annually:"))
ci=p*pow(1+r/(100*n),n*t)
print("simple intrest:",si)
print("compound intrest:",ci)

enter principal:100
enter rate of interst:25
enter time span:2
enter no of time interest got compounded annually:4
simple intrest: 50.0
compound intrest: 162.41700949613005

In [17]:
#21.WAP to delete set of keys in dic
# kays to delete->['name','age']
#animaldict = { “name”: “Dog”,“age”:5,“Weight”: 4,“Country”: “US”,“City”:”California”

a={"name": "Dog","age":5,"Weight": 4,"Country": "US","City":"California"}
a.pop("name" and "age")
a.pop("age")
print(a)

{'name': 'Dog', 'Weight': 4, 'Country': 'US', 'City': 'California'}