In [4]:
a=(1,2,3,4)

for i in a:
    print(i)

1
2
3
4

In [5]:
type(a)

tuple

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [10]:
for i in range(0,50):
    if(i%2)==0:
        print("even number:",i)
    else:
        print("odd number:",i)

even number: 0
odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9
even number: 10
odd number: 11
even number: 12
odd number: 13
even number: 14
odd number: 15
even number: 16
odd number: 17
even number: 18
odd number: 19
even number: 20
odd number: 21
even number: 22
odd number: 23
even number: 24
odd number: 25
even number: 26
odd number: 27
even number: 28
odd number: 29
even number: 30
odd number: 31
even number: 32
odd number: 33
even number: 34
odd number: 35
even number: 36
odd number: 37
even number: 38
odd number: 39
even number: 40
odd number: 41
even number: 42
odd number: 43
even number: 44
odd number: 45
even number: 46
odd number: 47
even number: 48
odd number: 49

In [1]:
i=0
while(i<=50):
    if(i%2)==0:
        print("it's even",i)
    else:
        print("it's odd",i)
    i=i+1

it's even 0
it's odd 1
it's even 2
it's odd 3
it's even 4
it's odd 5
it's even 6
it's odd 7
it's even 8
it's odd 9
it's even 10
it's odd 11
it's even 12
it's odd 13
it's even 14
it's odd 15
it's even 16
it's odd 17
it's even 18
it's odd 19
it's even 20
it's odd 21
it's even 22
it's odd 23
it's even 24
it's odd 25
it's even 26
it's odd 27
it's even 28
it's odd 29
it's even 30
it's odd 31
it's even 32
it's odd 33
it's even 34
it's odd 35
it's even 36
it's odd 37
it's even 38
it's odd 39
it's even 40
it's odd 41
it's even 42
it's odd 43
it's even 44
it's odd 45
it's even 46
it's odd 47
it's even 48
it's odd 49
it's even 50

In [6]:
a=[1,2,3,4,5,6,7,8,9]
a[8:0:-1]

[9, 8, 7, 6, 5, 4, 3, 2]

In [5]:
a.sort(reverse= True)
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
x=0
for i in a:
    if x<i:
        x=i
x

9

In [12]:
x=(2,13,[14,[15]])
x[2][1][0]

15

In [16]:
z=(12,13,14)
z=z+(15,)
z

(12, 13, 14, 15)

In [18]:
b=[12,34,56,78]
y=tuple(b)
y

(12, 34, 56, 78)

In [20]:
z=list(z)
z.remove(12)
z=tuple(z)
z

(13, 14, 15)

In [21]:
z.index(15)

2

In [22]:
t=(6,7,8,9)
l=[1,2,3,4,5]
t=list(t)
for i in t:
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
v=int(input("enter any number:"))
for i in range(v+1):
    print(i)

enter any number:5
0
1
2
3
4
5

In [2]:
class add:
    def __init__(self):
        a=int(input("enter a number:"))
        b=int(input("enter another number"))
        c=a+b
        print("add of two number is:",c)
        
    def add2(self):
        a=str(input("enter a string:"))
        b=str(input("enter another string:"))
        c=a+b
        print("add of two string:",c)

x=add()
x.add2()

enter a number:12
enter another number13
add of two number is: 25
enter a string:luvky
enter another string:x
add of two string: luvkyx

In [16]:
class add:
    
    def add2(self,x=10,y=20):
        
        c=x+y
        print("add of two number:",c)


x=add()
x.add2(30)

add of two number: 50

In [24]:
class phone1:
    def __init__(self,ver,model):
        self.ver=ver
        self.model=model
    def company(self):
        print("company=xyz")
class phone2(phone1):
    def __init__(self,cost,ver,model):
        super().__init__(ver,model)
        self.cost=cost
    def company(self):
        print("company=abc")    

x=phone2(20000,1,"v18")

In [25]:

x.company()

company=abc

In [23]:
x.model

'v18'

In [4]:
a=[0,1,2,3,4]
b=[5,6,7,8,9]
for i in b:
    a.append(i)
print("print the append list:",a)

print the append list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a=[1,2,3,4,5]
a.insert(5,6)
a

[1, 2, 3, 4, 5, 6]

In [6]:
a.pop()

6

In [10]:
for i in range(0,10):
    for j in range(2,i):
        if(i%j)==0:
            print("the number is not a prime:",i)
            break
    else:
        print("the number is a prime:",i)

the number is a prime: 0
the number is a prime: 1
the number is a prime: 2
the number is a prime: 3
the number is not a prime: 4
the number is a prime: 5
the number is not a prime: 6
the number is a prime: 7
the number is not a prime: 8
the number is not a prime: 9

In [14]:
a="abcdxyz"
w=[]
for i in a:
    w.append(i)
    
w.sort(reverse=True)
str(w)
w

['z', 'y', 'x', 'd', 'c', 'b', 'a']

In [15]:
a=[10,20,45,56,78]
avr=0
count=0
for i in a:
    avr=avr+i
    count=count+1

avr=avr/count
print("average of the sum of numer in the list:",avr)

average of the sum of numer in the list: 41.8

In [22]:
a=10
b=40
print("befor swaping:")
print("a=",a)
print("b=",b)
a=a+b
b=a-b
a=a-b
print("after swaping:")
print("a=",a)
print("b=",b)

befor swaping:
a= 10
b= 40
after swaping:
a= 40
b= 10

In [6]:
from abc import ABC,abstractmethod
class emp(ABC):
    @abstractmethod
    def __init__(self):
        print("hello")
    def emp1(self):
        print("name=xyz")
class sal(emp):
    def __init__(self):
        super().__init__()
    def salary(self,sal=200000):
        print("salary=",sal)
x=sal()
x.salary()

hello
salary= 200000

In [7]:
a=[12,45,67,89,90,23]
b=[]
for i in a:
    if(i>=60):
        b.append(i)
b

[67, 89, 90]

In [9]:
q=int(input("enter any number to find square:"))
a=lambda q:q*q
a(q)

enter any number to find square:12

144

In [10]:
b=lambda a,b,c,d:(a+b+c+d)/4
b(1,2,3,4)

2.5

In [11]:
z=lambda n:n%2


if(z(n)==0):
    print("even number:",n)
else:
    print("odd number:",n)

enter any number:12
even number: 12

In [12]:
x=[23,45,56,67,78,89,90]
list(filter(lambda x: True if(x>=60) else False,x))

[67, 78, 89, 90]

In [3]:
#map
a=[1,2,3,4,5]
z=list(map(lambda i:i**2,a))
print(z)

[1, 4, 9, 16, 25]

In [6]:
from functools import reduce
p=[23,14,15,12,21]
reduce(lambda x,y:x+y,p)

85